<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<title>StudyPlan</title>
</head>

<body>
	<div class="users-new-wrapper" layout:fragment="contents">
		<div class="container">
			<div class="row p-form-top d-none d-lg-block d-xl-block d-xxl-block"></div>
			<div class="row">
				<main class="col-md-4 mx-auto">
					<h1 class="text-center text-black">教材登録</h1>
					<form method="post" th:action="@{/book}" th:object="${form}">
						<div layout:replace="~{layouts/common::messages}"></div>
						<div class="mb-3">
							<label class="form-label text-black" for="title">教材名</label>
							<input type="text" class="form-control" th:field="*{title}" />
							<p th:if="${#fields.hasErrors('title')}" class="error-message" th:errors="*{title}"></p>
						</div>
						<div class="mb-3">
							<label class="form-label text-black" for="pages">ページ数</label>
							<input type="number" class="form-control" th:field="*{pages}" />
							<p th:if="${#fields.hasErrors('pages')}" class="error-message" th:errors="*{pages}"></p>
						</div>
						<div class="mb-3">
							<label class="form-label text-black" for="starting_date">開始日</label>
							<input class="form-control" type="date" th:field="*{starting_date}" />
							<p th:if="${#fields.hasErrors('starting_date')}" class="error-message"
								th:errors="*{starting_date}"></p>
						</div>
						<div class="mb-3">
							<label class="form-label text-black" for="estimatedcompletion_date">目標達成日</label>
							<input type="date" class="form-control" th:field="*{estimatedcompletion_date}" />
							<p th:if="${#fields.hasErrors('estimatedcompletion_date')}" class="error-message"
								th:errors="*{estimatedcompletion_date}"></p>
						</div>
						<div class="mb-3">
							<label class="form-label text-black" for="daily_pace">1日の目標進度 : <span
									id="pace"></span></label>
							<div id="result-container"></div>
						</div>
						<script>
							document.addEventListener('DOMContentLoaded', function () {
								const startingDateTag = document.getElementById('starting_date');
								const estimatedcompletionDateTag = document.getElementById('estimatedcompletion_date');
								const pagesTag = document.getElementById('pages');
								const paceTag = document.getElementById('pace');

								const initialMessage = 'ページ数、開始日、目標達成日を設定してください';
								paceTag.textContent = initialMessage;

								const updatePaceMessage = function () {
									/*開始日*/
									const startingDate = new Date(startingDateTag.value);
									/*計算の基準となる日時*/
									const estimatedcompletionDate = new Date(estimatedcompletionDateTag.value);
									const pages = pagesTag.value;

									/*日時の差をミリ秒単位で取得*/
									const diffMilliSec = estimatedcompletionDate - startingDate;

									/*ミリ秒を日数に変換*/
									const diffDays = parseInt(diffMilliSec / 1000 / 60 / 60 / 24);
									/*差の日数ををページ数で割り、小数点以下を切り上げ*/
									const pace = Math.ceil(pages / diffDays);

									let paceMessage = initialMessage;
									if (diffMilliSec > 0 && !isNaN(pace)) {
										paceMessage = `${pace} ページ`;
									} else if (diffMilliSec <= 0) {
										paceMessage = '目標達成日は開始日より後の日程を選択してください。';
									}

									paceTag.textContent = paceMessage;
								};

								startingDateTag.addEventListener('change', updatePaceMessage);
								estimatedcompletionDateTag.addEventListener('change', updatePaceMessage);
								pagesTag.addEventListener('change', updatePaceMessage);
							});
						</script>
						<input type="submit" value="登録" class="btn w-100 btn-outline-light" />
					</form>
				</main>
			</div>
		</div>
	</div>
</body>

</html>