<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<title>StudyPlan</title>
</head>

<body>
	<div class="pages-index-wrapper text-center" layout:fragment="contents">
		<div class="container">
				<div class="row justify-content-center">
					<div class="col-2" th:if="${goal == null}">
						<a class="btn w-100 btn-outline-light" href="/goals">目標</a>
						<pre class="description"></pre>
					</div>
					<div class="col-2" th:if="${goal != null}">
						<a class="btn w-100 btn-outline-light" href="/goals">目標</a>
						<pre class="description" th:utext="${goal.description}"></pre>
						<a class="btn w-100 btn-outline-light" href="/edit" th:href="@{'/goals/{id}/edit'(id=${goal.id})}">編集</a>
					</div>
					<div class="books-index-wrapper">
						<div class="container">
							<div class="row" th:each="book : ${books}">
								<div class="col-md-6 mx-auto">
									<main>
										<div class="col-2">
											<a href="/mainpages/1/managements/new"
												th:href="@{'/books/{id}/managements/new'(id=${book.id})}"
												class="btn btn-primary" th:data-_csrf="${_csrf.token}">
												<!--<button type="submit" class="btn w-100 btn-outline-light">-->
												<span type="submit" class="w-100 btn-outline-light" th:text="${book.title}"></span>
												<!--<span th:text="${management.completion_date}"></span>-->
												<!--</button>-->
											</a>
										</div>
										<div class="managements-index-wrapper">
											<div class="container">
												<div class="row">
													<div class="col-md-6 mx-auto">
														<!--<span th:text="${management.completion_date}"></span>-->
														<div class="icons">
															　<a th:if="${book.hasCompleted()}"
																rel="nofollow" th:data-management_id="${book.management.id}"
																th:data-_csrf="${_csrf.token}">
																<img class="completion_date-on"
																	src="/images/icons/star-yellow.png"
																	th:src="@{/images/icons/star-yellow.png}"
																	width="200" height="200" />
															</a>
															<a th:unless="${book.hasCompleted()}"
																rel="nofollow"
																th:data-book_id="${books.get(0).id}"
																th:data-_csrf="${_csrf.token}">
																<img src="/images/icons/star.png"
																	th:src="@{/images/icons/star.png}" width="200"
																	height="200" />
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</main>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>